<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DBLP</string>
	<key>uuid</key>
	<string>DC2B9B3C-7D4F-42DC-86F9-D804143CC3A3</string>
</dict>
</plist>
